{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Asha Workers</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fantasy World Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'Guest/Home/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'Guest/Home/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- gallery -->
<link rel="stylesheet" href="{% static 'Guest/Home/css/lightGallery.css' %}" type="text/css" media="all" />
<!-- //gallery -->
<!-- font-awesome icons -->
<link href="{% static 'Guest/Home/css/font-awesome.css' %}" rel="stylesheet"> 

<!-- //font-awesome icons -->
<link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Jura:300,400,500,600" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="w3layouts_header_left">
				<div class="top-nav-text">
						<p>Call Us : <span class="call">7890009890</span></p>
						<p>Email Us : <span class="mail"><a href="ashainfo@kerala.com">ashainfo@kerala.com</a></span></p>
					</div>
		</div>
		<div class="w3layouts_header_right">
			    <!-- <form action="#" method="post">
						<input name="Search heare" type="search" placeholder="Search" style="visibility: hidden;" required="">-->
					<a class="btn btn-info" href="{% url 'Donate' %}" role="button">Donate</a>
						<a class="btn btn-primary" href="{% url 'Login' %}" role="button">Login</a>
					<!--</form>-->
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="w3_navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="w3_navigation_pos">
						<h1><a href="{% url 'GuestHome' %}"><span>ASHA</span> PORTAL</a></h1>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-5" id="cl-effect-5">
						<ul class="nav navbar-nav">
							<li class="active"><a href=""><span data-hover="Home">Home</span></a></li>

							<li><a href="#about" class="scroll"><span data-hover="About">About</span></a></li>
							<li><a href="#services" class="scroll"><span data-hover="Services">Services</span></a></li>
							<li><a href="#work" class="scroll"><span data-hover="Gallery">Gallery</span></a></li>
							<li><a href="#projects" class="scroll"><span data-hover="News">News</span></a></li>
							<li><a href="#mail" class="scroll"><span data-hover="Contact">Contact</span></a></li>
						</ul>
					</nav>
				</div>
			</nav>	
		</div>
	</div>
<!-- //header -->
<!-- banner -->
	<div class="banner">
			<!--Slider-->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider-img">
							<img src="{% static 'Guest/Home/images/b1.jpg' %}" class="img-responsive" alt="Fantasy World">
						</div>
						<div class="slider-info">
							
							<!--<h4>Dragon Fin Soup Ridding </h4>
							  <p>World building is component of fantasy </p>
							<a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>-->
						</div>
					</li>
					<li>
						<div class="slider-img">
							<img src="{% static 'Guest/Home/images/b3.jpg' %}" class="img-responsive" alt="Fantasy World">
						</div>
						<div class="slider-info">
						 
							<!--<h4>Girl Dragon fantasy sword wing</h4>
							   <p>World building is component of fantasy </p>-->
					<!--<a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>-->
						</div>
					</li>
					<li>
						<div class="slider-img">
							<img src="{% static 'Guest/Home/images/b2.jpg' %}" class="img-responsive" alt="Fantasy World">
						</div>
						<div class="slider-info">
							
							<!--<h4>Danger bear guy pistol moment</h4>
						   <p>World building is component of fantasy </p>
						<a href="#about" class="hvr-shutter-in-horizontal scroll">Read More</a>-->
						</div>
					</li>


				</ul>
				
			</div>
			<div class="clearfix"></div>
		</div>
		<!--//Slider-->
	</div>
<!-- //banner -->
<!-- Modal1 -->
						<div class="modal fade" id="myModal1" role="dialog">
							<div class="modal-dialog">
							<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4>Contracts</h4>
										<img src="{% static 'Guest/Home/images/ab.jpg' %}" alt=" " class="img-responsive">
										<h5>Donec lobortis pharetra dolor</h5>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- //Modal1 -->

<!-- about -->
	<div class="about" id="about">
		<div class="container">
			<div class="col-md-4 agileits_about_left">
				<h3 class="w3l_head">About Us</h3>
				<p class="w3ls_head_para">who we are</p>
			</div>
			<div class="agileits_banner_bottom_grids">
				<div class="col-md-6 agileits_banner_bottom_grid_l">
					<h4></h4>
					<p>One of the key components of the National Rural Health Mission is to provide every village in the country with a trained female community health activist ASHA or Accredited Social Health Activist. Selected from the village itself and accountable to it, the ASHA will be trained to work as an interface between the community and the public health system.<</p>
				</div>
				<div class="col-md-6 agileits_banner_bottom_grid_r">
					<div class="agileits_banner_btm_grid_r">
						<img src="{% static 'Guest/Home/images/kk.jpg' %}" alt=" " class="img-responsive">
						<div class="agileits_banner_btm_grid_r_pos">
							<img src="{% static 'Guest/Home/images/p.jpg' %}" alt=" " class="img-responsive">
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //about-bottom -->
<!-- services -->
<div class="services" id="services">
		 <h3 class="w3l_head w3l_head1">Services</h3>
			         <p class="w3ls_head_para w3ls_head_para1">View Our Services</p>
		<div class="services-agile-w3l">
		<div class="col-md-3 services-gd text-center">
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
				<a href="#" class="hi-icon"><img   /></a>
			</div>
			<h4>Health Care</h4>
			<p></p>
		</div>

       <div class="col-md-3 services-gd text-center">
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
				<a href="#" class="hi-icon"><img  /></a>
			</div>
			<h4>Child Care</h4>
			<p></p>
		</div>
		<div class="col-md-3 services-gd text-center">
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
				<a href="#" class="hi-icon"><img  /></a>
			</div>
			<h4>Home Care</h4>
			<p></p>
		</div>
		<div class="col-md-3 services-gd text-center">
			<div class="hi-icon-wrap hi-icon-effect-9 hi-icon-effect-9a">
				<a href="#" class="hi-icon"><img  /></a>
			</div>
			<h4>Womens Care</h4>
			<p></p>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- //services -->

<!-- gallery -->
	<div class="team-bottom" id="work">
		<div class="container">
			<h3 class="w3l_head w3l_head1">Latest Gallery</h3>
			<p class="w3ls_head_para w3ls_head_para1">Our Commitments</p>
			<div class="w3layouts_gallery_grids">
				<ul class="w3l_gallery_grid" id="lightGallery">
					<li data-title="ASHA WORKER" data-desc="COLLECT DETAILS" data-src="{% static 'Guest/Home/images/a1.jpg' %}"data-responsive-src="images/8.jpg">
						<div class="w3layouts_gallery_grid1 box">
							<a href="#">
								<img src="{% static 'Guest/Home/images/a1.jpg' %}" alt=" " class="img-responsive" />
								<div class="overbox">
									<h4 class="title overtext"> Collect Details</h4>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="ASHA WORKER" data-desc="MEASURE TEMPERATURE" data-src="{% static 'Guest/Home/images/a2.jpg' %}"data-responsive-src="Guest/Home/images/a2.jpg">
						<div class="w3layouts_gallery_grid1 box">
							<a href="#">
								<img src="{% static 'Guest/Home/images/a2.jpg' %}" alt=" " class="img-responsive" />
								<div class="overbox">
									<h4 class="title overtext">Measure Temperature</h4>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="ASHA WORKER" data-desc="SUPPLY MEDICINES." data-src="{% static 'Guest/Home/images/a3.jpg' %}" data-responsive-src="images/10.jpg">
						<div class="w3layouts_gallery_grid1 box">
							<a href="#">
								<img src="{% static 'Guest/Home/images/a3.jpg' %}" alt=" " class="img-responsive" />
								<div class="overbox">
									<h4 class="title overtext">SUPPLY MEDICINES </h4>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="ASHA WORKER" data-desc="SURVEY" data-src="{% static 'Guest/Home/images/a4.jpg' %}" data-responsive-src="images/11.jpg">
						<div class="w3layouts_gallery_grid1 box">
							<a href="#">
								<img src="{% static 'Guest/Home/images/a4.jpg' %}" alt=" " class="img-responsive" />
								<div class="overbox">
									<h4 class="title overtext">SURVEY </h4>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="ASHA WORKER" data-desc="COLLECT DETAILS." data-src="{% static 'Guest/Home/images/a5.jpg' %}" data-responsive-src="images/12.jpg">
						<div class="w3layouts_gallery_grid1 box">
							<a href="#">
								<img src="{% static 'Guest/Home/images/a5.jpg' %}" alt=" " class="img-responsive" />
								<div class="overbox">
									<h4 class="title overtext">COLLECT DETAILS</h4>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="ASHA WORKER" data-desc="GUIDENS." data-src="{% static 'Guest/Home/images/a6.jpg' %}" data-responsive-src="images/13.jpg">
						<div class="w3layouts_gallery_grid1 box">
							<a href="#">
								<img src="{% static 'Guest/Home/images/a6.jpg' %}" alt=" " class="img-responsive" />
								<div class="overbox">
									<h4 class="title overtext"> GUIDENS</h4>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="ASHA WORKER" data-desc="MEETING" data-src="{% static 'Guest/Home/images/a7.jpg' %}" data-responsive-src="images/14.jpg">
						<div class="w3layouts_gallery_grid1 box">
							<a href="#">
								<img src="{% static 'Guest/Home/images/a7.jpg' %}" alt=" " class="img-responsive" />
								<div class="overbox">
									<h4 class="title overtext">MEETING</h4>
								
								</div>
							</a>
						</div>
					</li>
					<li data-title="ASHA WORKER" data-desc="AWARENESS CLASSES." data-src="{% static 'Guest/Home/images/a8.jpg' %}" data-responsive-src="images/15.jpg">
						<div class="w3layouts_gallery_grid1 box">
							<a href="#">
								<img src="{% static 'Guest/Home/images/a8.jpg' %}" alt=" " class="img-responsive" />
								<div class="overbox">
									<h4 class="title overtext">AWARENESS CLASSES </h4>
									
								</div>
							</a>
						</div>
					</li>
					<li data-title="ASHA WORKER" data-desc="SURVEY." data-src="{% static 'Guest/Home/images/a10.png' %}" data-responsive-src="{% static 'Guest/Home/images/a10.png' %">
						<div class="w3layouts_gallery_grid1 box">
							<a href="#">
								<img src="{% static 'Guest/Home/images/a10.png' %}" alt=" " class="img-responsive" />
								<div class="overbox">
									<h4 class="title overtext"> SURVEY</h4>
								
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //gallery -->
<!-- projects -->
	<div class="projects" id="projects">
		<div class="container">
			<div class="port-head">
					 <h3 class="w3l_head w3l_head1">Latest News</h3>
			         <p class="w3ls_head_para w3ls_head_para1">View Our Latest News</p>
			</div>
		</div>
		<div class="projects-grids">
				<div class="sreen-gallery-cursual">

			<div id="owl-demo" class="owl-carousel owl-theme">
					<div class="item">
						<div class="projects-agile-grid-info">
							<img src="{% static 'Guest/Home/images/v1.jpg' %}" alt="" />
							<div class="projects-grid-caption"> 
								
					
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="projects-agile-grid-info">
							<img src="{% static 'Guest/Home/images/v2.jpg' %}" alt="" />
							<div class="projects-grid-caption"> 
								
									
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="projects-agile-grid-info">
							<img src="{% static 'Guest/Home/images/v3.jpg' %}" alt="" />
							<div class="projects-grid-caption"> 
								
								
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="projects-agile-grid-info">
							<img src="{% static 'Guest/Home/images/v4.jpg' %}" alt="" />
							<div class="projects-grid-caption"> 
							
								
							</div>
						</div>
					</div>
					<div class="item">
						<div class="projects-agile-grid-info">
							<img src="{% static 'Guest/Home/images/v5.jpg' %}" alt="" />
							<div class="projects-grid-caption"> 
							
								
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="projects-agile-grid-info">
							<img src="{% static 'Guest/Home/images/v6.jpg' %}" alt="" />
							<div class="projects-grid-caption"> 
								
								
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="projects-agile-grid-info">
							<img src="{% static 'Guest/Home/images/v7.jpg' %}" alt="" />
							<div class="projects-grid-caption"> 
								
								
							</div>
						</div>	
					</div>
					<div class="item">
						<div class="projects-agile-grid-info">
							<img src="{% static 'Guest/Home/images/s1.jpg' %}" alt="" />
							<div class="projects-grid-caption">
									
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	</div>
	<!-- //projects -->
<!-- mail -->
	<div class="mail" id="mail">
		<div class="container">
			<h3 class="w3l_head w3l_head1">Contact Us</h3>
			<p class="w3ls_head_para w3ls_head_para1">send us a message</p>
			<div class="w3_mail_grids">
				<form action="" method="post">
					{% csrf_token %}
					<div class="col-md-6 w3_agile_mail_grid">
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="text" id="input-25" placeholder=" " required="">
							<label class="input__label input__label--ichiro" for="input-25">
								<span class="input__label-content input__label-content--ichiro">Your Name</span>
							</label>
						</span>
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="email" id="input-26" placeholder=" " required="">
							<label class="input__label input__label--ichiro" for="input-26">
								<span class="input__label-content input__label-content--ichiro">Your Email</span>
							</label>
						</span>
						<span class="input input--ichiro">
							<input class="input__field input__field--ichiro" type="text" id="input-27" placeholder=" " required="">
							<label class="input__label input__label--ichiro" for="input-27">
								<span class="input__label-content input__label-content--ichiro">Your Phone Number</span>
							</label>
						</span>
						
					</div>
					<div class="col-md-6 w3_agile_mail_grid">
						<textarea name="Message" placeholder="Your Message" required=""></textarea>
						<input type="submit" value="Submit">
					</div>
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
	
<!-- //mail -->
<!--<div class="map">
	<div class="container">
		<h3 class="w3l_head w3l_head1">Locate Us</h3>
		<p class="w3ls_head_para w3ls_head_para1">How to find us</p>
	</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57537.641430789925!2d-74.03215321337959!3d40.719122105634035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1456152197129" allowfullscreen=""></iframe>

</div>-->
<!-- footer -->
	<div class="w3l_footer">
		<div class="container">
			
			<div class="w3ls_footer_grids">
				
				<div class="w3ls_footer_grid">
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Location</h4>
							<p>Thiruvananthapuram</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Email</h4>
							<a href="ashainfo@kerala.com">ashainfo@kerala.com</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
						<div class="w3ls_footer_grid_leftl">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="w3ls_footer_grid_leftr">
							<h4>Call Us</h4>
							<p>7890009890</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>

	</div>
<!-- //footer -->

<!--banner Slider starts Here-->
<script src="{% static 'Guest/Home/js/jquery-2.2.3.min.js' %}"></script> 
						<script src="{% static 'Guest/Home/js/responsiveslides.min.js' %}"></script>
							<script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:false,
									nav:true,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });
							
								});
							 </script>
							 <!-- js -->
<!-- start-smoth-scrolling -->
	<script src="{% static 'Guest/Home/js/lightGallery.js' %}"></script>
	<script>
    	 $(document).ready(function() {
			$("#lightGallery").lightGallery({
				mode:"fade",
				speed:800,
				caption:true,
				desc:true,
				mobileSrc:true
			});
		});
    </script>

<script src="{% static 'Guest/Home/js/owl.carousel.js' %}"></script> 
<link href="{% static 'Guest/Home/css/owl.theme.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'Guest/Home/css/owl.carousel.css' %}" type="text/css" media="all">
<script>
$(document).ready(function() { 
	$("#owl-demo").owlCarousel({
 
		autoPlay: 3000, //Set AutoPlay to 3 seconds
		  autoPlay : true,
		   navigation :true,

		items : 4,
		itemsDesktop : [640,5],
		itemsDesktopSmall : [414,4]
 
	});
	
}); 
</script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'Guest/Home/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'Guest/Home/js/easing.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- //js -->
	<script src="{% static 'Guest/Home/js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>