{% extends 'Base.html' %}
{% block body %}


	<div class="container-contact100">
<!--		<div class="contact100-map" id="google_map" data-map-x="40.722047" data-map-y="-73.986422" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div> -->
			<div class="contact100-map" style="background-color: gainsboro;" data-scrollwhell="0" data-draggable="1"></div>

		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url(../static/images/bg-01.jpg);">
				<span class="contact100-form-title-1">
					Registration
				</span>

				<span class="contact100-form-title-2">
					Enter your personal details
				</span>
			</div>

			<form class="contact100-form validate-form" method="POST">
				{% csrf_token %}

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Membership Id:</span>
					<input class="input100" type="text" name="membership" value="{{ response.Auth_Id }}" id="membershipId" placeholder="" required readonly>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Full Name:</span>
					<input class="input100" type="text" name="fullname" id="fullnamenameId" value="{{ response.Name }}" placeholder="full name" required readonly>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Gender:</span>
					<input class="input100" type="text" name="fullname" id="fullnamenameId" value="{{ response.Gender }}" placeholder="full name" required readonly>
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input">
					<span class="label-input100">Address:</span>
					<input class="input100" type="text" name="address" id="addressId" placeholder="address" value="{{ response.Address }}"  required>
					<span class="focus-input100"></span>
                </div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Mobile:</span>
					<input class="input100" type="text" name="mobile" id="mobileId" value="{{ response.Phone }}" placeholder="eg : 7095809073" pattern="[789][0-9]{9}" minlength="10" maxlength="10" required>
					<span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
					<span class="label-input100">Email:</span>
					<input class="input100" type="email" name="email" id="emailId" placeholder="eg : example123@gmail.com" value="{{ response.Email }}" required>
					<span class="focus-input100"></span>
                </div>

				<div>
					<div class="container-contact100-form-btn">
                        <button class="contact100-form-btn" type="submit" style="margin-left: 50px;">
                            <span>
                                UPDATE
                            </span>
                        </button>
                    </div>
                </div>
			</form>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

	{% endblock %}